*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1a4396;
    color: white;
}
header{
    display: flex;
    justify-content: center;
}
.logo, .navigation{
    vertical-align: middle;
    display: inline-block;
}
.navigation li{
    vertical-align: middle;
    display: inline-block;
    margin-right: 25px;
}
.navigation a{
    vertical-align: middle;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.navigation a:hover{
    text-decoration: underline;
}
.logo h1{
    vertical-align: middle;
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 25px;
}
.content{
    color: black;
    position: fixed;
    width: 90%;
    top: 10%;
    left: 5%;
    background-color: white;
}
.content p{
    margin-top: 15px;
    margin-left: 15px;
}
.corporation{
    position: fixed;
    bottom: 5%;
}