{% extends "base.html" %}
{% block title %}News{% endblock title %}
{% block content %}

<article class="media content-section">
  <div class="container">
    {% for post in posts %}
      <div class="row m-4">
        <div class="col">
          <img src="{{ post.cover.url }}" class="w-100" alt="...">
        </div>
        <div class="col-8">
          <div class="row">
            <h3 class="mt-0">{{ post.title }}</h3>
            <p>{{ post.overview }}</p>
            <div class="col"><small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small></div>
            <div class="col"><a href="{% url 'post-detail' post.id %}">Подробнее</a></div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</article>
<div class="pagination justify-content-center"> 
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4 mr-1" href="?page=1">Первая</a>
      <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.previous_page_number }}">←</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.next_page_number }}">→</a>
      <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
    {% endif %}
  {% endif %}
</div>

{% endblock content %}